*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

hr{
    border: 2px solid rgba(191, 182, 182, 0.605);
}

body{
    /*background-color: black;*/
    color:#ffffff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    /*background: linear-gradient(270deg,#E57373 0%, #11b9cc 100% );*/
    background: #100f0f;
    
}

a{
    color:#ffffff;
    text-decoration: none;
}

ul{
    list-style: none;
}

.conteiner-menu-nav{
    width: 100%;
    margin: auto;
    height: 10%;
}

.main-nav{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.logGoToU{
    width: 50px;
    border-radius: 100%;
    margin: 20px;
}

/*Navegación derecha*/

.main-nav ul{
    display: flex;
}

.main-nav ul li{
    margin: 10px; 
}

.main-nav ul li a{
    margin: 10px;
    
    
}

.main-nav ul li a:hover{
    border-bottom: 2px solid #E62A58;
    color: #E62A58;
}

.main-nav ul.menu-nav{
    padding-right: 20px;
}

/*Imagen principal*/
.main-image{
    width: 100%;
    height: 580px;
    background: url(/GOTOUMAINPAGE/images/imagenPrincipal.jpg) no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.main-image h1{
    font-size: 50px;
    margin: 20px;
}

.main-image h2{
    font-size: 40px;
    margin: 20px;
    font-style: oblique;
}

.main-image h3{
    font-size: 30px;
    margin: 20px;
    
}

/*Contenedor de carreras*/

.carreras{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.text-carreras{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.carreras h2{
    margin: 20px;
    text-align: center;
}
.carreras h3{
    margin-bottom: 20px; 
    text-align: center;
}

/*Imagenes de carreras*/

.image-carreras{
    width: 100%;
    height: 400px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; 
    display: flex;
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);*/
    background-color: #E57373;
    margin: auto;
    padding: 50px;
    justify-content: space-around;
}

.image-carreras div{ 
    width: calc(90%/3);
    height: 300px; 
    
    
}

.image-carreras div img{
    width: 400px;
    height: 300px;
    position: absolute;
    border-radius: 10%;
    border: 2px solid #100f0f;  
}

.image-carreras div.text{
    position: absolute;
    flex-direction: column;
    padding-right:60px;
    padding-top: 70px;
    /*text-align: unset;*/
}

.image-carreras div.text a{
    color: rgb(255, 255, 255);
}

.image-carreras div a:hover{
    color: #E62A58;
}

/*Test y cursos introductorios*/

.opciones-test-cursos{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    
}

.opciones-test-cursos div{
    width: 400px;
    height: 300px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #ffffff;
    
}

.opciones-test-cursos div img{
    width: 100%;
    height: 100%; 
    /*border-radius: 10%;*/
    margin-top: 10px;
    margin-bottom: 5px;
}

.opciones-test-cursos div h2{
    text-align:unset;
}

/*Sección de orientación*/
.orientacion{
    width: 100%;
    height: 500px;
    margin-top: 10px;
    
    align-items: center;
    display: flex;
    justify-content: space-around;
    background: #E57373;
}

.orientacion div{
    width: 600px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a b "
    "a c ";
    grid-auto-rows: 100px;
    grid-gap: 10px;
    border: 2px solid #272727;
    color: #272727;
   
}



.psicoprof img{
    width: 100%;
    height: 290px;
    border-radius: 10%;
    margin-top: 3px;
}
.psicoprof h2{
    grid-area: b;
    padding-top: 30px;
}
.psicoprof h3{
    grid-area: c;
    text-align: center;
    padding-top: 40px;
}

/* Sección para contactarnos */

.contactarnos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    flex-direction: column;
    
}

.contactarnos div{
    
    width: 100%;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.infoContac form{
    display: inline-block;
    margin: 5px;
    
}
.infoContac form input{
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 1em;
    border-left: 2px solid #0000;
    margin: 5px;
    background-color: rgb(202, 199, 199);
}

.infoContac button{
    margin: 5px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    background: black;
    cursor: pointer;
    border: none;
    color: #ffff;
    position: relative;
    border-radius: 12px;
    
}

.infoContac button:hover{
    border: 2px solid #E62A58;
    color: #E62A58;
}

/*Navegación final*/

.navBottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);*/
    border: 2px solid black;
    height: 200px;
}

.navBottom div{
    width: calc(90%/3);
    height: 90%;
    
    text-align: center;
    padding-top: 40px;
}

.navBottom div.mensajefin{
    padding-right: 250px;
    text-align: left;
}

.navBottom div.menufin{
    text-align: left;
}

.fa-facebook {
	background:#1877f2;
}
.fa-twitter {
	background: #1da1f2;
}

.fa-instagram {
	background: #c32aa3;
}
.fa-whatsapp {
	background: #1cb850;
}

.navBottom div.logosfin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBottom div.logosfin i{
    color: #fff;
	width: 60px;
	height: 60px;
    margin: 5px;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 50%;
}

.navBottom div.menufin a:hover{
    color: #E62A58;
}

/* Comenzamos con el about*/
.Gotou{
    width: 100%;
    height: 380px;
    background-color: #E57373;
    padding-bottom: 50px;
    
    
}
.parrafo1{
    position: absolute;
    left: 600px;
    top: 150px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
#p1{
    font-size: 18px;
}

.Logo_about{
    position: absolute;
    width: 182px;
    height: 182px;
    left: 350px;
    top: 150px;
    border-radius: 10px;
}

.Participantes h1{
    background-color: white;
    color: black;
    position: absolute;
    width: 500px;
    height: 40px;
    left: 513.5px;
    top: 420px;
    border-radius:20px;
    text-align: center;
    align-items: center;
}

/*  */
.Integrantes{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    justify-items: center;
    padding: 50px;
   
}

.creador{ 
        width: 250px;
        height: 350px;
        top: 200px;
        padding: 0px 5px;
        background-color: #E57373;
        text-align: center;
        border-radius: 5%;
}

.creador img{
    width: 230px;
    height: 340px;
    margin-top: 5px;
    border-radius: 5%;
}
.Redes_Sociales{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.Boton_RS{
    float: left;
    padding: 2px 5px;
    border: 1px;
}